USE [new_final_erp]
GO
/****** Object:  StoredProcedure [dbo].[sp_NumberSequence_Generate]    Script Date: 4/14/2026 10:45:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_NumberSequence_Generate]
    @CompanyId INT,
    @EntityName NVARCHAR(100),
    @DocumentId UNIQUEIDENTIFIER,
    @CommandId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE

    -- Idempotent check
    IF EXISTS (SELECT 1 FROM CommandLog WHERE CommandId=@CommandId)
    BEGIN
        SELECT DocumentNo
        FROM NumberSequenceLedger
        WHERE DocumentId=@DocumentId
        RETURN
    END

    DECLARE @SeqId INT
    DECLARE @Prefix NVARCHAR(20)
    DECLARE @Len INT
    DECLARE @Reset CHAR(1)
    DECLARE @Segment NVARCHAR(20)

    SELECT TOP 1
        @SeqId = SequenceId,
        @Prefix = Prefix,
        @Len = NumberLength,
        @Reset = ResetType
    FROM NumberSequence WITH (UPDLOCK,HOLDLOCK)
    WHERE CompanyId=@CompanyId
    AND EntityName=@EntityName
    AND IsActive=1
    ORDER BY VersionNo DESC

    IF @SeqId IS NULL
        THROW 50001,'Number Sequence tidak ditemukan',1

    DECLARE @Today DATE = CAST(GETDATE() AS DATE)

    SELECT
        @Segment =
        CASE @Reset
            WHEN 'Y' THEN SegmentYear
            WHEN 'M' THEN SegmentMonth
            WHEN 'D' THEN SegmentDay
            ELSE 'GLOBAL'
        END
    FROM FiscalCalendar
    WHERE CalendarDate=@Today

    DECLARE @Running BIGINT

    UPDATE NumberSequenceCounter
        SET @Running = LastNumber = LastNumber + 1
    WHERE SequenceId=@SeqId
    AND SegmentKey=@Segment

    IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO NumberSequenceCounter
        VALUES(@SeqId,@Segment,1)

        SET @Running = 1
    END

    DECLARE @DocNo NVARCHAR(100)

    SET @DocNo =
        @Prefix + '-' + @Segment + '-' +
        RIGHT(REPLICATE('0',@Len)+CAST(@Running AS NVARCHAR),@Len)

    INSERT INTO NumberSequenceLedger
    VALUES(NEWID(),@SeqId,@Segment,@Running,@DocumentId,@DocNo,SYSUTCDATETIME())

    INSERT INTO CommandLog
    VALUES(@CommandId,@DocumentId,SYSUTCDATETIME())

    SELECT @DocNo
END
ss